```
title Процес звернення користувача до веб-сервісу з наміром дослідити результати аналізу документів

Користувач(веб-браузер)->Веб-сервіс(REST API): Запит на отримання результатів аналізу документів за посиланням

Веб-сервіс(REST API)->Веб-сервіс(Core): Передача запита на обробку

Веб-сервіс(Core)->База даних: Перевірка наявності метаданих для користувача та готовності результату аналізу документів в базі даних 

alt Посилання відсутнє в базі даних

Веб-сервіс(Core)-->Веб-сервіс(REST API): Повернення помилки про звернення до невалідного результату 

Веб-сервіс(REST API)-->Користувач(веб-браузер): Надання помилки на запит

else Посилання та результати аналізу є базі даних системи, але аналіз не завершено

Веб-сервіс(Core)-->Веб-сервіс(REST API):  Повернення стану готовності результатів аналізу документів

Веб-сервіс(REST API)-->Користувач(веб-браузер): Надання стану готовності результатів аналізу документів 

else Посилання та результати аналізу є в базі даних системи

Веб-сервіс(REST API)<--Веб-сервіс(Core): Повернення результату аналізу документів 

Веб-сервіс(Core)-->Користувач(веб-браузер): Надання результату аналізу документів та функціоналу для порівняння або вивчення подібності документів

end
```
```
title  Процес запиту Користувача з метою порівняння вмісту двох документів

Користувач (веб-браузер) -> Веб-сервіс: Запит на порівняння змісту двох текстових документів

Веб-сервіс -> База даних: Отримання метаданих про збереження файлів для переданого посилання

alt Шлях знайдений

Веб-сервіс -> Файлове сховище: Отримання текстових файлів на порівняння

Веб-сервіс ->Веб-сервіс: Порівняння вмісту запитаних документів

Користувач (веб-браузер)<-Веб-сервіс: Повернення результатів порівняння та вмісту файлів

else Шлях не знайдений

Веб-сервіс->Користувач (веб-браузер): Надання помилки та пропозиції про повторне завантаження файлів

end
```